/*Universal*/
.no-margin-padding {
	margin: 0;
	padding: 0;
}

.inline {
	display: inline;
}
.inline-md {
}

.area-white {
	width: 100%;
	background-color: $white;
	padding: 4rem 0;
}

.area-warm-1 {
	width: 100%;
	background-color: $warm-1;
	padding: 4rem 0;
}

.container-header-color-4 {
	background-color: $color-4;
	color: $white;
	margin: 0 0 2rem 0;
	padding: .5rem;
}

.hr-white {
	width: 100%;
	background-color: $white;
	height: 2px;
}

/*Home Page*/
.home-hero {
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center;
	min-height: 450px;
		.container-color-2-trans {
	}
}

.container-color-2-trans {
	background-color: rgba(13,84,144,.7);
	width: 100%;
	position: relative;
	bottom: 0;
	margin: 0;
	padding: 1rem 2rem;	
}

.home-thumbnail {
	display: block;
	position: relative;
	margin-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $white;
	background-position: center;
	height: 220px;
}
.thumbnail-container {
	background-color: rgba(0,0,0,.7);
	color: $white;
	width: 100%;
	padding: 1rem;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.browse-list {
	text-align: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.browse-bg-image {
	padding: 1rem;
	background-size: cover;
	background-repeat: none;
	background-color: $white;
	background-position: center;
	height: 220px;
	color: $white;
}

/*Asset Detail*/
.keyword-box {
	background-color: $gray-1;
	width: 100%;
	padding: 1rem;
	margin: 1rem 0;
	a {
		margin-right: .75rem;
	}
}

.container-a {
	display: block;
	margin: 1rem 0 2rem 0;
	a {
		display: inline-block;
	}
}

/*Sign In Page*/
.sign-in-box {
	padding: 0;
	margin-bottom: 1rem;
	@media screen and (min-width: 554px) {
		padding: 1rem 2rem 1rem 1rem;
		border-right: 2px solid $gray-2;
	}
}

.sign-in-field {
	width: 100%;
}

/*Blog*/
.blog-categories {
	text-align: center;
	a {
	display: inline;
	}
	br {
		display: none;
	}
}

.blog-card {
	margin: 1rem 0;
	width: 100%;
	background-color: $gray-1;
	p {
		font-size: .9rem;
	}
}

.blog-card-bg {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: $white;
	background-position: center;
	min-height: 200px;
}

.blog-card-bottom {
	padding: 1rem;
	a {
		text-decoration: none;
		margin: 0;
		color: $color-1;
	}
	a:hover {
		transiton: all .2s ease-in;
		color: $color-2;
	}
}

/*Single Post*/
.post-header-gray-8 {
	width: 100%;
	background-color: $gray-8;
	padding: 1rem;
	margin: 0;
	text-align: center;
	color: $white;
}
