.site-footer {
	background-color: $color-2;
	border-top: 1rem solid $color-1;
	border-bottom: 1rem solid $color-1;
	margin: 0;
	padding:0;
}

.footer-email-container {
	width: 100%;
	background-color: $color-3;
	padding: 1rem;
}