.hidden-xs-inline {
	display: none;
	@media screen and (min-width: 554px) {
		display: inline;
	}
}

.search-container {
	background-color: $white;
	position: relative;
	top: 6rem;
	padding: 0 1rem;
	margin: 0 1rem;
	display: flex;
	align-items: center;
	border-radius: .5rem;
	input[type=search] {
		color: $gray-7;
		width: 50%;
		border: none;
		padding: 1rem 0;
		margin: 0;
		width: 60%;
		font-size: 1.2rem;
	}
	input[type=search]:focus {
		outline: none;
	}
	input[type=checkbox] {
		margin-left: .5rem;
		display: none;
		@media screen and (min-width: 554px) {
			display: inline-block;	
		}
	}
}
.search-container:focus {
	outline: 0;
}

.type-selector {
	display: none;
	width: 30%;
	color: $gray;
	@media screen and (min-width: 554px) {
		display: block;
	}
}

.search-box {
	background-color: $color-0;
	padding: 1rem;
}

.search-drop-container {
	background-color: $white;
	padding: .5rem;
	text-transform: uppercase;
	color: $gray-8;
	font-family: 'Roboto Condensed', sans-serif;
}

.search-card {
	display: block;
	width: 100%;
	margin: .5rem 0;
	padding: .5rem;
	background-color: $gray-1;
	height: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	.sc-image-bg {
		display: block;
		position: relative;
		background-size: cover;
		background-repeat: none;
		background-color: $white;
		background-position: center;
		height: 150px;
	}
	.container-dark-trans {
		background-color: rgba(0,0,0,.7);
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0;
		padding: .5rem 1rem;	
	}
	p {
		font-size: .8rem;
	}
}

input[type=date], .search-drop {
	width: 100%;
	border:none;
	border-radius: 0;
	border-top-left-radius: 0;
	background-color: $white;
	margin-bottom: .25rem;
	padding: .25rem .5rem;
}


/*Custom Interior Search Nav*/
.secondary-search-container {
	background-color: $white;
	padding: 0 1rem;
	margin: 0 1rem;
	display: flex;
	align-items: center;
	border-radius: .5rem;
	input[type=search] {
		color: $gray-7;
		width: 50%;
		border: none;
		padding: 1rem 0;
		margin: 0;
		width: 60%;
		font-size: 1.2rem;
	}
	input[type=search]:focus {
		outline: none;
	}
}

.header-search {
	display: none;
	background-color: $gray-2;
	padding: .25rem;
	@media screen and (min-width: 768px) {
		display: block;
	}
}

.search-area {

}
.search-container:focus {
	outline: 0;
}

