button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	box-shadow: none;
}

.button-search-submit {
	position: absolute;
	right: 0;
	height: 100%;
	background-color: $color-4;
	color: $white;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 1rem;
	margin: 0;
	border-radius: .5rem;
}

.button-flat-gray {
	padding: .5rem 1rem;
	margin-bottom: 1rem;
	background-color: $gray-2;
	border: 2px solid $gray-2;
	color: $gray-8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-gray:hover {
	transition: all .2s ease-in;
	background-color: $gray-3;
	border: 2px solid $gray-3;
}

.button-ghost-gray {
	padding: .5rem 1rem;
	margin-bottom: 1rem;
	background-color: transparent;
	border: 2px solid $gray-2;
	color: $gray-8;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-ghost-gray:hover {
	transition: all .2s ease-in;
	background-color: $gray-2;
}

.button-flat-color-1 {
	padding: .25rem 1rem;
	margin-bottom: 1rem;
	background-color: $color-1;
	border: 2px solid $color-1;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-color-1:hover {
	transition: all .2s ease-in;
	border-color: $color-2;
	background-color: $color-2;
}

.button-flat-full-color-1 {
	width: 100%;
	padding: .25rem 1rem;
	margin: 1rem 0;
	background-color: $color-1;
	border: 2px solid $color-1;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-full-color-1:hover {
	transition: all .2s ease-in;
	border-color: $color-2;
	background-color: $color-2;
}

.button-flat-color-2 {
	padding: .25rem 1rem;
	margin-bottom: 1rem;
	background-color: $color-2;
	border: 2px solid $color-2;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-color-2:hover {
	transition: all .2s ease-in;
	background-color: $color-3;
}

.button-flat-full-color-2 {
	width: 100%;
	padding: .25rem 1rem;
	margin: 1rem 0;
	background-color: $color-2;
	border: 2px solid $color-2;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-full-color-2:hover {
	transition: all .2s ease-in;
	border-color: $color-3;
	background-color: $color-3;
}

.button-flat-search {
	padding: .25rem;
	margin: 0 .25rem .5rem 0;
	background-color: $color-1;
	border: 2px solid $color-1;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border-radius: 4px;
	font-size: 1rem;
}
.button-flat-search:hover {
	transition: all .2s ease-in;
	border-color: $color-2;
	background-color: $color-2;
}
